@using DMART.Models;
@model DMART.Models.Product;

@{
    ViewData["Title"] = "Add new Product";
}

<script type="text/javascript">

</script>

<div class="container">
    <div class="display-4 fs-2 text-center fw-bold mb-2">Add new Product</div>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>You have added new Product successfully.</strong> <br />
            <!--
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            -->
         </div>
    }

<form id="addForm" method="post" enctype="multipart/form-data" asp-action="addProduct" asp-controller="Admin"  class="card p-5" style="background-color: #ebe6e61a;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    
    <div class="form-group mt-3">
        <label asp-for="Name" class="control-label"></label>
        <input id="name" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Price" class="control-label"></label>
        <input id="price" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Quantity" class="control-label"></label>
        <input id="quantity" asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Description" class="control-label"></label>
        <textarea id="description" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
     <div class="form-group mt-3">
        <label asp-for="CategoryId" class="control-label"></label>
        <textarea id="categoryId" asp-for="CategoryId" class="form-control"></textarea>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Discount" class="control-label"></label>
        <input id="discount" asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="DiscountPercentage" class="control-label"></label>
        <input id="discountPercentage" asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label for="Image" class="control-label"></label>
        <div class="custom-file">
            <input type="file" name="postedImage"  id="productImage">
        </div>
        <span>@ViewBag.Message</span>
    </div>
                
    <div class="form-group mt-5">
        <input type="submit" value="Add product" class="btn btn-primary w-25 btnColor" style="background-color: #8686db;" />
    </div>
</form>
</div>