<!--Partial view of navbar that will be used on Categories pages-->
@section category {
<link href="~/css/category.css" rel="Stylesheet" type="text/css" />
}

 @if ((bool)ViewData["showCategories"])
 {
   <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <vc:category show="name"></vc:category>
      </div>
   </nav>
 }
 
 <nav id="main-navbar" class="navbar navbar-expand-lg mb-4 fixed-top " style="background-color: #c7c7f4; padding-top:14px; padding-bottom-15px">
 
  <div class="container-fluid">
       <a asp-controller="Home" asp-action="Index"> <img src="~/lib/logo.png" alt="logo" class="bi me-4"> </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-4 mb-2 mb-lg-0">
        <li class="nav-item">
          <a asp-action="dashboard" asp-controller="Admin" class="nav-link active fs-5 me-3" aria-current="page">Dashboard</a>
        </li>
        <li class="nav-item">
          <a asp-action="addProduct" asp-controller="Admin" class="nav-link active fs-5 me-3" aria-current="page">Add Product</a>
        </li>
        <li class="nav-item">
          <a asp-action="getAllProducts" asp-controller="Admin" class="nav-link active fs-5" aria-current="page">All Products</a>
        </li>
       </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>






