 <!--Partial view of navbar that will be used on Categories pages-->
@section category {
<link href="~/css/category.css" rel="Stylesheet" type="text/css" />
}

   <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <vc:category show="name"></vc:category>
      </div>
   </nav>
   
 <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top p-0">
    <header id="bootstrap-overrides" style="background-color: #c7c7f4;" class="p-1 border-bottom">
  <div class="container-fluid">
       <a asp-controller="Home" asp-action="Index"> <img src="~/lib/logo.png" alt="logo" class="bi me-4"> </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  </header>
</nav>






