
<!--Partial view of header that will be used on login/signup pages-->
  <header style="background-color: #c7c7f4;" class="mb-3 p-3 border-bottom">
    <div class="d-flex flex-wrap  justify-content-center align-items-center justify-content-lg-start">
     
 <div class="border-end">
   <a asp-controller="Home" asp-action="Index"> <img src="~/lib/logo.png" alt="logo" class="bi me-4 "> </a>
  </div>
      <ul class="nav col-12 col-lg-auto col-xxl-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-4">
        <li class="nav-item me-2 btn bg-light ms-2 py-2"><a href="#" class="nav-link p-0 text-dark">Privacy Policy</a></li>
            <li class="nav-item btn bg-light ms-2 me-4 py-2"><a href="#" class="nav-link p-0 text-dark">Terms & conditions</a></li>
      </ul>

    </div>
  </header>