@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
        <div class="pt-4 px-1" id="productsBox" >
                    <div class="card item my-2 mx-1" style="width:17%">
                        <!--
                    <img src="(product.ImageUrl==null? product.ImageUrl : "\\ProductImages\\defaultItem.jpg")" class="card-img-top" alt="product" /> -->
                    <img src="\ProductImages\lays.jpeg" class="card-img-top" alt="product" style="height:165px" />
                   <div class="card-body" style="background-color: #ebe6e669;">
                       <div class="d-flex justify-content-between">
                            <p class="mb-0 fs-4 fw-bold">Rs 500</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="mb-0 fs-5 fw-normal">Lays</h5>
                             
                            <span class="badge text-bg-success">In stock</span>
                      
                        </div>
        
                        <div class="d-flex justify-content-between">
                            <p class="small text-muted mt-2" >150g</p>
                        </div>
                       
                        <div class="form-group text-center">
                             <input type="submit" value="Add to Cart" class="btn w-100 fw-semibold btnColor" style="background-color: #8686db;" />
                         </div>
                    </div>
                </div>
                </div>
