            <div class="flex-wrap box"> <!--p 16px TITLE    h6 price...  16 12 14px -->
                
                @foreach (var product in Model)
                {
                    <div class="card item my-2 mx-1">
                    <img src="@product.ImageUrl" class="card-img-top" alt="product" style="height:165px" />
                   <div class="card-body" style="background-color: #ebe6e669;">
                       <div class="d-flex justify-content-between">
                            <p class="mb-0 fs-4 fw-bold">Rs @product.Price</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="mb-0 fs-5 fw-normal">@product.Name</h5>
                             @if (product.Quantity>0)
                        {
                            <span class="badge text-bg-success">In stock</span>
                        }
                        else
                        {
                            <span class="badge text-bg-secondary">unavailable</span>
                        }
                        </div>
        
                        <div class="d-flex justify-content-between">
                            <p class="small text-muted mt-2" >@product.Description</p>
                        </div>
                       
                        <div class="form-group text-center">
                             <input type="submit" value="Add to Cart" class="btn w-100 fw-semibold btnColor" style="background-color: #8686db;" />
                         </div>
                    </div>
                </div>
                }

            </div>
