@using dMart.Models;
@model users;

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    @section header{
    <partial name="_PartialHeader" />;
    }

    <div class="container mt-4 px-5">
        <div class="card">
            <div class="row align-items-center my-4 card-body">
                <div class="col-5 order-2 order-lg-1">
                    <form action="/signup/Login" method="post">
                        <div class="text-center mb-4 fw-bold fs-2"> LogIn to start shopping </div>
                
                        <div class="mb-4 input-group">
                            <i class="bi bi-envelope-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="Email" class="form-control ms-3" placeholder="Enter your Email" />
                            <span class="ms-1" asp-validation-for="Email"></span>
                        </div>


                        <div class="mb-4 input-group">
                            <i class="bi bi-lock-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="Password" class="form-control ms-3" placeholder="Enter password" />
                            <span class="ms-1" asp-validation-for="Password"></span>
                        </div>

                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-primary px-5 py-2">Login</button>
                        </div>

                        <p class="px-5 py-2">Don't have an account<a asp-action="signup"> Signup </a> </p>
                    </form>
                </div>

                <div class="col-7 d-flex order-1 order-lg-2">
                    <img src="~/lib/signup.png" alt="" class="container" style="width: 70%;">
                </div>

            </div>
            <div class="mb-5 text-center">
                By Signing up, you agree to our <a href="#">Terms and conditions</a>
            </div>
        </div>
    </div>
</body>

</html>