@using dMart.Models;
@model users;


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <title>SignUp</title>
</head>

<body>

    @section header{
    <partial name="_PartialHeader" />;
    }

    <div class="container mt-4 px-4">
        <div class="card">
            <div class="row align-items-center my-4 card-body">
                <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                    <form action="/signup/Signup" method="post">
                        <div asp-validation-summary="All">  </div>
                        <div class="text-center mb-4 fw-bold fs-2"> Create an account </div>
                        <div class="input-group mb-4">
                            <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="Username" class="form-control ms-3" placeholder="Enter your Name" />
                        </div>

                        <div class="mb-4 input-group">
                            <i class="bi bi-envelope-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="Email" class="form-control ms-3" placeholder="Enter your Email" />
                        </div>

                        <div class="mb-4 input-group" style="position:relative;">
                            <i class="bi bi-telephone-fill" style="font-size: 1.5rem;"></i>
                            <input type="text" asp-for="Number" class="form-control ms-3" placeholder="Enter number: +92" />
                            
                        </div>

                        <div class="mb-4 input-group">
                            <i class="bi bi-lock-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="Password" class="form-control ms-3" placeholder="Create a password" />
                        </div>

                        <div class="mb-4 input-group">
                            <i class="bi bi-key-fill" style="font-size: 1.5rem;"></i>
                            <input asp-for="ConfirmPass" class="form-control ms-3" placeholder="Re-enter password" />
                        </div>

                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-primary px-5 py-2">Signup</button>
                        </div>

                        <p class="px-5 py-2"> Already have an dMart.pk account? <a asp-action="login"> login </a> </p>

                    </form>
                </div>

                <div class="col-0 col-md-5 col-lg-6 d-flex order-1 order-md-2">
                    <img src="~/lib/signup.png" alt="dMart" class="container" style="width: 80%;">
                </div>

            </div>
            <div class="mb-5 text-center">
                By Signing up, you agree to our <a href="#">Terms and conditions</a>
            </div>
        </div>
    </div>

</body>

</html>