<head>
        <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/lib/slider/1.png" class="slideImg d-block" alt="offer">
    </div>
    <div class="carousel-item">
        <img src="~/lib/slider/2.png" class="slideImg d-block" alt="offer">
    </div>
    <div class="carousel-item">
        <img src="~/lib/slider/3.png" class="slideImg d-block" alt="offer">
    </div>
  </div>
</div>

  <div class="container fw-bold fs-1 text-center py-5"> Categories </div>
    <vc:grocery-product></vc:grocery-product>

</body>