
  <div class="container fw-bold fs-1 text-center py-5"> Snacks </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <img src="~/lib/lays.jpeg" class="card-img-top w-75 mx-auto" alt="lays">
       <div class="card-body">
      <h5 class="card-title">Rs 50</h5>
      <p class="card-text">Lays salted 60gram</p>
      <a href="#" class="btn btn-outline-success">Add to Cart</a>
    </div>
  </div>
</div>
    <div class="col-sm-3">
      <div class="card" style="width: 12rem;">
        <img src="~/lib/dairyMilk.png" class="card-img-top mx-auto" alt="lays">
       <div class="card-body">
      <h5 class="card-title">Rs 100</h5>
      <p class="card-text">Dairy Milk 100gram</p>
      <a href="#" class="btn btn-outline-success">Add to Cart</a>
    </div>
  </div>
</div>
    <div class="col-sm-3">
  <div class="card" style="width: 12rem;">
    <img src="~/lib/lays.jpeg" class="card-img-top w-75 mx-auto" alt="lays">
    <div class="card-body">
      <h5 class="card-title">Rs 50</h5>
      <p class="card-text">Lays salted 60gram</p>
      <a href="#" class="btn btn-outline-success">Add to Cart</a>
    </div>
  </div>
</div>
    <div class="col-sm-3">
  <div class="card" style="width: 12rem;">
    <img src="~/lib/dairyMilk.png" class="card-img-top mx-auto" alt="lays">
    <div class="card-body">
      <h5 class="card-title">Rs 100</h5>
      <p class="card-text">Dairy Milk 100gram</p>
      <a href="#" class="btn btn-outline-success">Add to Cart</a>
    </div>
  </div>
</div>
</div>

