.carousel-inner {
    height: 260px !important;
    width: 90% !important;
    margin: auto;
}

.d-flex div {
    margin-left: 1vw;
}

#bootstrap-overrides input{
    width:50%;
}

@media only screen and (max-width: 1165px) {
    #bootstrap-overrides input {
        width: 40% !important;
    }
}

@media only screen and (max-width: 991px) {
    #bootstrap-overrides input {
        width: 30% !important;
    }
}

input:focus {
    border: 4px solid black;
}

#dropdown {
    border: 1px solid #adadf0;
    border-radius: 13px;
    box-sizing: border-box;
}