@model IEnumerable<Category>

  <div class="d-flex flex-wrap justify-content-evenly">
      
   @foreach (var book in Model)
    { 
    <div>
      <a asp-action="ProductCategory" asp-controller="Product" >
        <img asp-append-version="true" src="@book.ImageUrl" alt="category">
      </a>
    </div>
   }

  </div>